@font-face {
    font-family: main-font;
    src: url('fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: main-font, 'PT Sans', sans-serif;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1E1F22 #2B2D31;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #6a2424;
}

*::-webkit-scrollbar-thumb {
    background-color: #042f05;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

html {
    background-color: #2B2D31;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    background-color: #1E1F22;
    color: #ffffff;
    box-shadow: 0px 0px 10px 0px #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .header-section {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        max-width: 1440px;

        img {
            width: 24px;
            object-fit: cover;
            cursor: pointer;
            filter: drop-shadow(0px 0px 4px #ababab);

            &:hover {
                filter: drop-shadow(0px 0px 4px #ffffff);
            }
        }

        h1 {
            font-size: 16px;
            font-weight: 600;
        }
    
        nav {
            display: flex;
            flex-direction: column;
            gap: 10px;
            visibility: hidden;
            position: fixed;
            top: 64px;
            left: 20px;
            width: 100px;
            max-width: 200px;
            background-color: #1E1F22;
            padding: 8px;
            border-radius: 8px;

            ul {
                /* padding: 20px; */

                li {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    padding: 8px;

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                            text-decoration-thickness: 4px;
                            text-underline-offset: 8px;
                            color: green;
                        }
                    }
                }
            }
        }
    }
}

main {
    padding: 0;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1440px;
        gap: 16px;
        
        article {
            height: 150px;

            img {
                height: 150px;
                aspect-ratio: 3/2;
                border-radius: 8px;
                object-fit: cover;
                cursor: pointer;

                &:hover {
                    transform: scale(1.5);
                    transition: transform 0.5s;
                }
            }
        }
    }

    dialog {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        top: 0;
        width: 100%;
        height: 100%;
        /* overflow-y: hidden; */
        visibility: hidden;
        background-color: transparent;
        backdrop-filter: blur(10px);
        gap: 16px;
        border: none;

        .dialog-close {
            position: absolute;
            top: 56px;
            right: 0;
            padding: 10px 20px;
            background-color: transparent;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.5s;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        
        .dialog-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 800px;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                margin-bottom: 20px;
                border-radius: 8px;
            }
            
            button {
                padding: 10px 20px;
                background-color: transparent;
                color: #ffffff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.5s;
    
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
    
            .image-dialog-left {
                position: absolute;
                left: 0;
                border-radius: 50%;
                font-size: 32px;
            }
    
            .image-dialog-right {
                position: absolute;
                right: 0;
                border-radius: 50%;
                font-size: 32px;
            }
            /* Contact */
            form {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;
                max-width: 800px;
                height: 800px;
                padding-top: 80px;
                background-color: #383B3F;
                padding: 64px 32px;

                h1 {
                    font-size: 24px;
                    font-weight: 600;
                    color: #ffffff;
                }

                label {
                    font-size: 16px;
                    font-weight: 400;
                    color: #ffffff;
                }

                input, select, textarea {
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: none;
                    background-color: #1E1F22;
                    color: #ffffff;

                    
                }

                textarea {
                    resize: none;
                    height: 160px;
                }

                .data-protection-text {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    .accept {
                        cursor: pointer;
                    }
                    p {
                        font-size: 12px;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
                .button-section {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                    input {
                        padding: 10px 20px;
                        border-color: rgb(230, 230, 230);
                        background-color: rgb(230, 230, 230);
                        color: black;
                        border-radius: 0;
                        border: none;
                        border-radius: 5px;
                        transition: background-color 0.5s;
                    }
                }
            
            }

            .contact-success {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 16px;
                width: 80%;
                max-width: 600px;
                height: 300px;
                padding-top: 80px;
                background-color: #383B3F;
                padding: 64px 32px;
                color: white;
            }

            .active-button {
                width: 112px;
                margin-left: 24px;
                margin-right: 24px;
                border-color: green;
                background-color: green;
                color: white;
                border-radius: 0;
                transition: background-color 0.5s;
                
                &:hover{
                    border-width: 2px;
                    border-color: rgb(54, 230, 98);
                    background-color: rgb(54, 230, 98);
                    cursor: pointer;
                }
            }

            .data-protaction-content {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;
                max-width: 800px;
                height: 800px;
                padding-top: 80px;
                background-color: #383B3F;
                padding: 32px;
                overflow-x: scroll;
                color: #ffffff;

                a {
                    color: #ffffff;
                    text-decoration: none;
                    text-decoration-thickness: 4px;
                    text-underline-offset: 4px;
                    cursor: pointer;
                    
                    &:hover {
                        text-decoration: underline;
                        color: green;
                    }
                }
            }

            .impressum {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;
                max-width: 800px;
                height: 800px;
                padding-top: 80px;
                background-color: #383B3F;
                padding: 64px 64px;
                color: white;
            }

            .faq {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;
                max-width: 800px;
                height: 800px;
                padding-top: 80px;
                background-color: #383B3F;
                padding: 64px 64px;
                color: white;
                overflow-y: scroll;
                padding-bottom: 96px;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    background-color: #1E1F22;
    color: #ffffff;
    box-shadow: 0px 0px 10px 0px #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;

    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        width: 100%;
        max-width: 1440px;

        p {
            font-size: 16px;
            font-weight: 600;
        }

        ul {
            display: flex;
            gap: 20px;
            li {
                list-style: none;
                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        text-decoration-thickness: 4px;
                        text-underline-offset: 8px;
                        color: green;
                    }

                    img {
                        width: 24px;
                        object-fit: cover;
                        cursor: pointer;

                        &:hover {
                            filter: drop-shadow(0px 0px 4px #ffffff);
                        }
                    }
                    .twitter {
                        filter: drop-shadow(0px 0px 4px #ababab);
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    footer {
        .footer-section {
            flex-direction: row;
        }
    }
}
